.background {
  background-color: black;
  min-height: 100vh;
  padding: 20px;
  color: white;
  text-align: center;
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: yellow;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
}

.responsive-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.entry-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #1e1e1e;
  padding: 5px;
  transition: transform 0.15s ease-in-out;
  cursor: pointer;
  border: 2px solid transparent;
}

.entry-card:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

.entry-card.selected {
  border: 2px solid #888;
  background-color: #4A90E2;
}

.entry-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 4px;
}

.entry-name {
  font-size: 10px;
  font-weight: bold;
  color: white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.entry-description {
  white-space: nowrap;
  font-size: 8px;
  color: white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.unlock-description {
  white-space: nowrap;
  font-size: 10px;
  color: red;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
  flex-wrap: wrap;
}

.title {
  text-align: center;
}


.footer {
  white-space: nowrap;
  font-size: 10px;
  color: white;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.footer a {
  color: white;
  font-weight: bold;
  font-size: inherit;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
